* {
    box-sizing: border-box;
}

body {
    background-color: rgb(252,82,170);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    height: 100vh;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header{
    flex: 0 0 auto;
    width: 90%;
}
.menu-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.menu-button{
    list-style: none;
}
.menu-button {
    display: block;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px double yellow;
    background-color: white;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
    transition: 0.3s;
}
.menu-button:hover{
    border:5px double lightcoral;
}
.menu-button:active{
    transform: scale(0.95);
}
.button-home{
    background-image: url('./img/home.png');
    background-position: 3px 0;
}
.button-sound{
    background-image: url('./img/sprite.png') ;
    background-position: -52px 5px ;
    transition: 0.5s;
}
.button-sound.on{
    background-position: 3px 5px ;
}

#spa{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    position: relative;
}

h1{
    font-size: 80px;
    color: white;
    text-shadow: 3px 2px 2px #d3d3d3;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}
.mainMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainMenu_link{
    width: 80%;
    padding: 8px;
    border-radius: 10px;
    border: 5px double yellow;
    box-shadow: 2px 2px 3px gray;
    background-color: #ffa200;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 1px 1px gray;
    color:white;

}
.mainMenu_link:hover{
    height: 72px;
    color: lightcoral;
    font-size: 32px;
    transition: 0.5s;

}
.mainMenu_link:active{
    transform: scale(0.95);
}
.buttonPlay{
    cursor: pointer;
    background-color: #ffa200;
    border: 5px  yellow;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    text-shadow: 2px 1px 1px gray;
    height: 50px;
    width: 200px;
    transition: 0.5s;
}

.buttonPlay:hover, .btn:hover {
    border-color: #ffa200;
}
.buttonPlay:active, .btn:active {
    transform: scale(0.95);
}
h2 {
    color: white;
    text-align: center;
    margin: 0 0 20px;
}
.rules-container, .gameOver, .container {
    max-width: 600px;
    border: 5px solid yellow;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 50px 70px;
    line-height: 1.5;
    color: white;
}

.gameScore {
    font-size: 25px;
}

#results {
    width: 200px;
}

#results div {
    color: white;
    border-bottom: solid yellow 2px;
    padding: 3px;
}

.form {
    padding: 10px 20px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form button, #btn {
    cursor: pointer;
    background-color: #ffa200;
    border: 2px solid #ffa200;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.form-control.success input {
    border-color: #ffa200;
}

.form-control.error input {
    border-color: yellow;
}

.form-control small {
    color:yellow;
    position: absolute;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

@media screen and (max-width: 920px){
    .menu-button {
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        border-radius: 50%;
        border: 5px double yellow;
        background-color: white;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 5px grey;
        cursor: pointer;
        transition: 0.3s;
    }
    .button-home{
        background-image: url('./img/home.png');
        background-position: 0 -5px;
    }
    .button-sound{
        background-image: url('./img/sprite.png') ;
        background-position: -52px 0;
        transition: 0.5s;
    }
    .button-sound.on{
        background-position: 0 2px ;
    }
    h1 {
        font-size: 50px;
        margin-bottom: 5px;
    }
    .menu-buttons {
        margin-bottom: 0;
    }

    .mainMenu_link{
        height: 50px;
        width: 70%;
        border-radius: 10px;
        border: 3px double yellow;
        margin-bottom: 10px;
        font-size: 30px;

    }
    .mainMenu_link:hover{
        height: 50px;
        font-size: 22px;
    }
    .rules-container, .gameOver, .container {
        border: 5px solid yellow;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        padding: 5px 20px;
        line-height: 1.5;
        font-size: 15px;
        color: white;
    }
    h2 {
        margin-bottom: 5px;
    }

}